body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content";
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr;
    /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    height: 100vh;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    /* justify-content: stretch; */
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom: 10px;
  
}

.controls button {
    background-color: #f0f0f0;
    border: none;
    margin-left: 5px;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    flex-direction: column;
}


.controls input[type="range"] {
    margin: 0 10px;

}

.search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
    width: 200px;
    
}

#search-img {
    width: 50px;
    height: 30px;
    flex-grow: 3;
    background-color: #f0f0f0;;

}
.search input[type="search"] {
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

.sidebar {
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
    /* justify-content: space-around; */
    /* grid-area: 1/1/2/2; */
    /* background-color: #f0f0f0; */
    padding: 10px;
    /* border-right: 1px solid #ddd; */
    justify-content: stretch;
   
}

.sidebar td {
    list-style-type: none;
    padding: 0;
}
.sidebar table{
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 110px;
}

.sidebar table tr td {
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
     /* background-color: #ddd;  */
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    /* font-weight: bold; */
}

.content {
    grid-area: content;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
    /* width: 1fr;
    height: 80vh; */
}

.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    width: 80%;

}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 5px 5px;  
    padding: 15px;
    
}

.card img {
    width: 100%;
    height: auto
    
}

/* .card-info {
    padding: 0px;
} */

.title {
    font-size: 15px;
    font-weight: bold;
    margin: 5px ;
    width: 200px; 
    text-align: center; 
}

.name-song figcaption {
    font-weight: normal;
}

.song {
    font-size: 14px;
    text-align: center;
}



/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(4,  1fr);
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
      
    }

    .controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        width: 100%;
        margin-top: 15px; 
    }

    .title {
        font-weight: bold;
    }

    #search-img {
        width: 80px;
        height: 30px;
    }

    .controls button {
        margin-bottom: 5px;

    }

    .controls input[type="range"] {
        width: 100%;
    }

    .search figcaption p {
        width: 90%;
    }

    .search input[type="search"] {
        width: 100%;
        margin-bottom: 10px;

    }

    .sidebar {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px)  {
    .grid {
        grid-template-columns: repeat(3,  1fr);
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
      
    }

    .controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        width: 90%;
        margin-top: 15px; 
    }

    .title {
        font-weight: bold;
    } */
/* 
    #search-img {
        width: 80px;
        height: 30px;
    }

    .controls button {
        margin-bottom: 5px;

    }

    .controls input[type="range"] {
        width: 100%;
    }

    .search figcaption p {
        width: 90%;
    }

    .search input[type="search"] {
        width: 90%;
        margin-bottom: 10px;

    }

    .sidebar {
        display: none;
    } */

/* } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2,  1fr);
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
      
    }

    .controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        width: 80%; */
        /* margin-top: 15px; 
    }

    .title {
        font-weight: bold;
    }

    #search-img {
        width: 70px;
        height: 30px;
    }

    .controls button {
        margin-bottom: 5px;

    }

    .controls input[type="range"] { */
        /* width: 90%;
    }

    .search figcaption p {
        width: 90%;
    }

    .search input[type="search"] {
        width: 90%;
        margin-bottom: 10px;

    }

    .sidebar {
        display: none;
    }

} */


/* Extra small resolution */
/* @media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2,  1fr);
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }

    .controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .search {
        width: 100%;
        margin-top: 10px; 
    }

    .title {
        font-weight: bold;
    }

    #search-img {
        width: 50px; */
        /* height: 30px;
    }

    .controls button {
        margin-bottom: 5px;

    }

    .controls input[type="range"] {
        width: 80%;
    }

    .search figcaption p {
        width: 90%;
    }

    .search input[type="search"] {
        width: 90%;
        margin-bottom: 10px;

    }

    .sidebar {
        display: none;
    } */

/* } */ 





